<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resource">
            <h2><span jhiTranslate="sentencesgwApp.resource.detail.title">Resource</span> {{resource.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sentencesgwApp.resource.fileId">File Id</span></dt>
                <dd>
                    <span>{{resource.fileId}}</span>
                </dd>
                <dt><span jhiTranslate="sentencesgwApp.resource.title">Title</span></dt>
                <dd>
                    <span>{{resource.title}}</span>
                </dd>
                <dt><span jhiTranslate="sentencesgwApp.resource.path">Path</span></dt>
                <dd>
                    <span>{{resource.path}}</span>
                </dd>
                <dt><span jhiTranslate="sentencesgwApp.resource.sentence">Sentence</span></dt>
                <dd>
                    <div *ngIf="resource.sentenceId">
                        <a [routerLink]="['/sentence', resource.sentenceId, 'view']">{{resource.sentenceId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource', resource.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
