$icomoon-font-path: "../fonts" !default;

$icon-historia: "\e996";
$icon-ccj: "\e99a";
$icon-ccj-archivo: "\e99b";
$icon-ccj-comp-leyes: "\e99c";
$icon-ccj-datos: "\e99d";
$icon-ccj-direccion: "\e99e";
$icon-ccj-directorio: "\e99f";
$icon-ccj-eventos-cal: "\e9a0";
$icon-ccj-info-eventos: "\e9a1";
$icon-ccj-martes-dh: "\e9a2";
$icon-ccj-rergesar: "\e9a3";
$icon-ccj-resena-historica: "\e9a4";
$icon-ccj-scjn-logovertical: "\e9a5";
$icon-ccj-telefono: "\e9a6";
$icon-ccj-videoteca-ccj: "\e9a7";
$icon-ccj-videoteca-cronicas: "\e9a8";
$icon-scjn-aguila: "\e999";
$icon-ccjlogo: "\e995";
$icon-mision: "\e997";
$icon-vision: "\e998";
$icon-alex: "\e994";
$icon-sipot-texto: "\e993";
$icon-subir: "\e992";
$icon-youtube: "\e991";
$icon-mas: "\e990";
$icon-editar: "\e98f";
$icon-actividad-institucional: "\e989";
$icon-biblioteca-digital: "\e98a";
$icon-casas-cultura-1: "\e98b";
$icon-casas-cultura-2: "\e98c";
$icon-constitucion-mexico: "\e98d";
$icon-cronicas-pleno: "\e98e";
$icon-creacion-mo: "\e986";
$icon-logro-mo: "\e987";
$icon-mariano: "\e988";
$icon-ceremonias-solemnes: "\e985";
$icon-magis-mundo: "\e984";
$icon-nuevo-elemento: "\e983";
$icon-busqueda-ventana: "\e982";
$icon-fideicomiso: "\e980";
$icon-info-clas: "\e981";
$icon-personas-dh: "\e97f";
$icon-radio: "\e97e";
$icon-grafica-pay: "\e97d";
$icon-ejecutorias: "\e978";
$icon-expediente: "\e979";
$icon-scjn-sitio-web: "\e97a";
$icon-tesis: "\e97b";
$icon-votos: "\e97c";
$icon-aimj-igualdad: "\e96a";
$icon-belem-do-para: "\e96b";
$icon-boletin-suscripcion: "\e96c";
$icon-cedaw: "\e96d";
$icon-comite-igualdad: "\e96e";
$icon-cumbre-jud-ibero: "\e96f";
$icon-eijpg: "\e970";
$icon-glosario: "\e971";
$icon-marco-juridico: "\e972";
$icon-noticias: "\e973";
$icon-pacto-genero: "\e974";
$icon-programa-tv: "\e975";
$icon-revista-igualdad: "\e976";
$icon-sentencia-igualdad: "\e977";
$icon-internet: "\e966";
$icon-bandera: "\e95e";
$icon-cortos-animados: "\e95f";
$icon-cronicas-resenias: "\e960";
$icon-derechos-personas: "\e961";
$icon-gaceta-compromiso: "\e962";
$icon-informe-labores: "\e963";
$icon-institucional: "\e964";
$icon-newsletter: "\e965";
$icon-servidores-publicos: "\e967";
$icon-videoteca-juridica: "\e968";
$icon-vstenograficas: "\e969";
$icon-signo-hombre-mujer: "\e95d";
$icon-cuadro-dh: "\e95c";
$icon-plataforma-nac-transparencia: "\e95b";
$icon-audifono: "\e957";
$icon-descargar: "\e958";
$icon-excel: "\e959";
$icon-zip: "\e95a";
$icon-dhumanos: "\e936";
$icon-adquisiciones: "\e901";
$icon-adquisiciones2: "\e903";
$icon-adquisiciones3: "\e90d";
$icon-agenda: "\e911";
$icon-asistencia-cursos: "\e917";
$icon-audiolibro: "\e918";
$icon-base-datos: "\e919";
$icon-biblioteca-digital2: "\e91a";
$icon-bjdh-siglas: "\e91b";
$icon-boletin: "\e91c";
$icon-boton-subir: "\e91d";
$icon-cargos-honorarios: "\e91e";
$icon-catalogo-cambridge: "\e91f";
$icon-catalogo-enlines: "\e920";
$icon-catalogo: "\e921";
$icon-coleccion-infantil: "\e922";
$icon-comites: "\e923";
$icon-comunicados: "\e924";
$icon-contenido: "\e925";
$icon-cronicas: "\e926";
$icon-cursos-impartidos: "\e927";
$icon-cursos: "\e928";
$icon-dias-agenda: "\e929";
$icon-directorio-persona: "\e92a";
$icon-discos: "\e92b";
$icon-discursos-mp: "\e92c";
$icon-doc-word: "\e92d";
$icon-duda: "\e92e";
$icon-enlaces-ligas: "\e92f";
$icon-estadisticas: "\e930";
$icon-estudios: "\e931";
$icon-experiencia-academica: "\e932";
$icon-experiencia-profesional: "\e933";
$icon-gasto-publico: "\e934";
$icon-guia: "\e935";
$icon-inicio: "\e937";
$icon-libro-electonico: "\e938";
$icon-libro: "\e939";
$icon-ministra: "\e93a";
$icon-mundo: "\e93b";
$icon-nota-historica: "\e93c";
$icon-notificacion-electronica: "\e93d";
$icon-novedades: "\e93e";
$icon-pdf: "\e93f";
$icon-preguntas: "\e940";
$icon-publicaciones: "\e941";
$icon-recomendaciones-internacionales: "\e943";
$icon-recomendaciones: "\e944";
$icon-reconocimientos-nombre: "\e945";
$icon-reconocimientos: "\e946";
$icon-red-bibliotecas: "\e947";
$icon-resena: "\e948";
$icon-servicios-colecciones: "\e949";
$icon-sinopsis-pleno: "\e94a";
$icon-sinopsis-salas: "\e94b";
$icon-sitio-web: "\e94c";
$icon-sjf-siglas: "\e94d";
$icon-sjf: "\e94e";
$icon-soporte-discos: "\e94f";
$icon-tarifa-documento: "\e950";
$icon-telefono: "\e951";
$icon-triangulo-area-encargada: "\e952";
$icon-ubicacion-directorio: "\e953";
$icon-unidad: "\e954";
$icon-videoconferencias: "\e955";
$icon-videos: "\e956";
$icon-audio: "\e90e";
$icon-informacion: "\e90f";
$icon-mazo: "\e910";
$icon-redessociales: "\e912";
$icon-phone: "\e942";
$icon-ctrl: "\ea50";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-equidadgenero: "\e913";
$icon-canaljudicial: "\e914";
$icon-eventos: "\e902";
$icon-avisos: "\e900";
$icon-ubicacion: "\e915";
$icon-vinculos: "\e916";
$icon-estructura: "\e904";
$icon-prensa: "\e905";
$icon-sisconsulta: "\e906";
$icon-transparencia: "\e907";
$icon-podcast: "\e908";
$icon-scjn-logo: "\e909";
$icon-pleno: "\e90a";
$icon-correo: "\e90b";
$icon-infomex: "\e90c";

